<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UIAPISuite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.RetryTransformer"/>
    </listeners>
    <test name="UI">
        <classes>
            <class name="tests.ui.ProjectTest"/>
            <class name="tests.ui.CaseTest"/>
            <class name="tests.ui.ImportCaseTest"/>
        </classes>
    </test>
    <test name="API">
        <classes>
            <class name="tests.api.ProjectAPITest"/>
            <class name="tests.api.CaseAPITest"/>
        </classes>
    </test>
</suite>
